doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
	body
		h1 Atributos
		a(href="http://www.google.com", target="_blank") Ir a Google
		| &nbsp; | &nbsp;
		a(
			class="link",
			href="http://www.youtube.com",
			target="_blank"
		) Ir a Youtube
	